.table-container {
  background-color: rgb(236, 134, 134);
}

.table {
  display: block;
  overflow-y: auto;
  height: 400px;
  width: 75%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  margin: 2.5rem auto;
  border: 2px solid black;
}

.table tbody {
  display: grid;
}

.table tr {
  display: flex;
  justify-content: space-around;
  padding-block: 0.3rem;
}

.table td:first-of-type {
  font-weight: bold;
}

.table td:last-of-type {
  font-weight: bold;
  color: rgb(38, 70, 141);
}

.table td:last-of-type:hover {
  cursor: pointer;
}
